@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';
}



:root {
    --primary-cyan: #0CC0DF;
    --text-color: white;
    --bg: #E9F4F9;
    --button-text: linear-gradient(281.72deg, #00ACCA 0%, #00F97D 169.01%);
}

html {
    font-size: 62.5%
}


body {
    background-color: var(--bg);


}

.container {
    max-width: 1380px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-weight: 600;
    font-style: Italic;
    font-size: 16px;
    color: var(--primary-cyan);
}

header nav {
    display: flex;
    gap: 40px;
}

header {
    padding: 40px 0;
    position: relative;
}

.header-right div {
    width: 70px;
    height: 40px;
    border-radius: 36px 18px;
    background-color: var(--text-color);
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-right {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header-right img {
    width: 24px;
    height: 24px;
}



.btn {

    border-radius: 40px 20px;
    padding: 12px 25px;
    border: none;
    font-weight: 600;
    font-style: Italic;
    font-size: 14px;
    line-height: 100%;

}

.blue {
    color: var(--text-color);
    background-color: var(--primary-cyan);
}

.opening {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(280.3deg, #00ACCA 0%, #00F97D 107.3%);
    padding: 10rem 8rem 0 9rem;
    border-radius: 80px 40px;
    font-size: 32px;
    gap: 50px;
    overflow: hidden;
}

.opening [alt="Two phones"] {
    width: 479px;
    position: relative;
    top: 8px;
    z-index: 3;
}

[alt="icon"] {
    display: none;
}

[alt="Full phone"] {
    display: none;
}

.opening h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 44px;
    color: var(--text-color);
    width: 100%;
}

h1 span {
    font-style: Italic;
    color: #A471D8;
    display: flex;
    align-items: center;
    gap: 4px;

}

.highlight {
    display: inline-flex;
    align-items: flex-end;
    gap: 4px;
}

.tez {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    bottom: 15px;
}

.violet {
    width: 12px;
    height: 3px;
    border-radius: 24px 8px;
    background: linear-gradient(89.79deg, #A471D8 0.18%, #FFFFFF 282.54%);
}

.second {
    position: relative;
    right: 3px;
}

.opening p {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    color: var(--text-color);
    margin-top: 8px;
    margin-bottom: 24px;
}

.btn.white {
    background-color: var(--text-color);
    font-weight: 600;
    font-style: Italic;
    font-size: 12px;
    color: var(--primary-cyan);
}

.opening .btn {
    padding: 18px 30px;
}

.images {
    position: relative;
}

.position img {
    position: absolute;
    z-index: 4
}

.position [alt="Shashlik"] {
    top: 180px;
    right: 410px;
}

[alt="Burger"] {
    top: -30px;
    right: 200px;
}

[alt="choynak"] {
    top: 240px;
    right: -20px;
}

[alt="doughnut"] {
    top: -90px;
    right: -80px;
}

.ornament {
    position: relative;
}

.ornament img {
    position: absolute;
    width: 440px;
    height: 440px;

}

.ornament img:first-child {
    top: -30px;
    right: 820px;

}

.ornament img:last-child {
    left: -350px;
    top: -100px;
    transform: rotate(180deg);
    z-index: 1
}

.brands img {
    height: 50px;
}

.brands {
    display: flex;
    justify-content: space-between;
    padding: 12rem;
    align-items: center;
}

h2 {
    font-weight: 700;
    font-style: Italic;
    font-size: 40px;
    color: var(--primary-cyan);
}

.tanlov {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tanlov p {
    font-weight: 400;
    font-style: Italic;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #A471D8;
    width: 1000px;
    margin: 20px 0 40px;
}

.tanlov span {
    font-weight: 700;
}

.tanlov div {
    display: flex;
    gap: 30px;
    align-items: center;
}

.tanlov img {
    width: 140px;
}

.download {
    background-color: white;
    border-radius: 80px 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    overflow: hidden;
    padding-top: 40px;
    padding-left: 40px;
}

h3 {
    width: 538px;
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    color: var(--primary-cyan);
}

.text {
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -1%;
    color: #A471D8;
    width: 692px;
    margin: 50px 0;

}

.download button {
    border-radius: 32px 16px;
    border: 1px solid var(--primary-cyan);
    display: flex;
    gap: 10px;
    background: #0CC0DF1A;
    width: 240px;
    height: 78px;
    align-items: center;
    justify-content: center;
}

.btns {
    display: flex;
    gap: 30px;
}

.download button p {
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: -2%;
    color: var(--primary-cyan);
}

.download button div {
    display: flex;
    flex-direction: column;
    gap: -100px;
}


.overlay {
    position: relative;
}


.overlay img {
    position: absolute;
}

.one-phone {
    background-color: white;
    width: 9000px;

}

.one {
    position: absolute;
    width: 420px;
    right: 40px;
    top: 90px;
}

.two {
    width: 170px;
    right: 300px;
    top: 300px;
}

[alt="Phone"] {
    display: none;
}

.questions {
    margin-top: 120px;
}

.questions h2 {
    text-align: center;
    margin-bottom: 70px;
}

.questions div {
    display: flex;
    gap: 20px;
    width: 70%;
    margin: 30px auto;


}

.questions div div {
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    margin: 0;
}

.questions div p {
    font-weight: 400;
    font-size: 18px;
    color: #706A75;
    line-height: 24px;
    letter-spacing: 0%;
    width: 130%
}

.questions b {
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #19082A;
}

hr {
    width: 70%;
    margin: auto;
}

.bar {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 120px;
}


.work h2 {
    text-align: center;
}

.green {
    width: 50%;
    border-radius: 80px 40px;
    background: linear-gradient(283.96deg, #00ACCA 0%, #00F97D 148.78%);
    padding: 65px 45px;
    position: relative;

}

.green h3 {
    font-weight: 700;
    font-style: Italic;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;

}

.green .white {
    padding: 17px 42px;
}

.green p {
    font-weight: 500;
    font-style: Italic;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 24px 0;
    color: white;
    width: 80%;
}

.bar img {
    position: absolute;
    width: 133px;
    left: 500px;
    bottom: 30px;
}

.social-media h2 {
    text-align: center;
    margin-bottom: 70px;
}

.general {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 120px;
}

.general button {
    background-color: white;
    border-radius: 40px 20px;
    padding: 20px;
    display: flex;
    border: none;
    align-items: center;
    text-align: left;
    gap: 10px;
    width: 313px;
}

.general svg {
    width: 80px;
}

.general b {
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 4px;
}

.general p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #706A75;

}

footer {
    text-align: center;
    background-color: white;
    border-radius: 80px 40px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {

    color: #A471D8;
}

footer svg {
    margin-bottom: 40px;
}

.contact {
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    text-decoration: none;

}

.address {
    margin-top: 40px;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -1%;
    text-align: center;
    text-decoration: none;
    width: 692px;
    margin-bottom: 40px;
}

footer div {
    display: flex;
    gap: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -1%;
    text-align: center;
    text-decoration-style: solid;


    text-decoration-skip-ink: auto;
}

@media (max-width: 1024px) {
    html {
        font-size: 56%;
    }

    .container {
        max-width: 95%;
    }

    .opening.container {
        flex-direction: column;
        align-items: center;
    }


    .position [alt="Shashlik"] {
        top: 240px;
        right: 400px;
    }

    [alt="Burger"] {
        right: 190px;
    }

    [alt="choynak"] {
        top: 240px;
    }


    .opening p {
        font-size: 18px;
    }

    .violet {
        position: relative;
    }

    h1 {
        font-size: 40px;
        margin-top: -40px;
    }

    .opening .btn {
        font-size: 14px;
    }

    header nav {
        display: flex;
        justify-content: center;
    }

    header nav a {
        font-size: 14px;
    }

    .opening [alt="Two phones"] {
        position: relative;
        top: 58px;
    }

    .brands img:first-child {
        display: none;
    }

    .brands {
        padding: 100px 20px;
    }

    .ornament img:first-child {
        position: absolute;
        right: 20px;
        top: -440px;
    }

    .ornament img:last-child {
        position: absolute;
        left: 13px;
        top: -780px;

    }

    .tanlov p {
        width: 90%;
    }

    .tanlov div {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .download {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .download button {
        width: 90%;
        justify-content: flex-start;
        padding: 20px;
    }

    .btns {
        display: flex;
        flex-direction: column;
    }

    .overlay img {
        position: absolute;

    }

    .one-phone {
        background-color: white;
        width: 600px;
        margin-right: 30%;
        display: none;

    }

    [alt="Phone"] {
        display: flex;
        width: 500px;
        margin: 30px auto;
    }

    .bar {
        flex-direction: column;
    }

    .green {
        width: 80%;
        margin: 0 auto;
    }



}


@media (max-width:950px) {
    header nav {
        display: none;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 40%;
    }

    .container {
        max-width: 95%;
    }

    .opening.container {
        flex-direction: column;
        background: linear-gradient(313.25deg, #00ACCA 24.7%, #00F97D 100.89%);
        padding: 30px 15px 0px;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .opening h1 {
        font-size: 25px;
        margin-top: -10px;
        line-height: 25px;
        text-align: center;
        padding: 0 10px;
    }

    h1 span {
        position: relative;
        bottom: 5px;
    }

    .violet {
        position: absolute;
        top: -5px;
    }

    .opening .btn {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .opening p {
        font-size: 18px;
    }

    .opening [alt="Two phones"] {
        display: none;
    }

    .opening [alt="Full phone"] {
        display: inline-block;
        width: 330px;
    }

    header nav {
        display: none;
    }

    .header-right svg {
        display: flex;
    }

    [alt="icon"] {
        display: inline-block;
        width: 30px;

    }

    header {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }

    .header-right .btn {
        display: none;
    }


    .opening .position img {
        width: 70px;
        height: 70px;
    }

    .position [alt="Shashlik"] {
        top: 160px;
        right: 270px;
        z-index: 1;
    }

    [alt="Burger"] {
        top: 60px;
        right: 130px;
        z-index: 5;
    }

    [alt="choynak"] {
        top: 300px;
        z-index: 5;

    }

    [alt="doughnut"] {
        top: -20px;
        right: 30px;
    }

    .violet {
        position: relative;
        top: 5px;
    }

    .ornament img:first-child {
        position: absolute;
        right: -20px;
        top: -440px;
    }

    .content p {
        text-align: center;
    }

    .ornament img:last-child {
        position: absolute;
        left: -120px;
        top: -730px;

    }

    .brands img:last-child,
    .brands img:nth-child(5) {
        display: none;
    }

    .brands {
        width: 100%;
        margin-top: -70px;
    }

    .brands img {
        height: 30px;
    }

    .brands img:nth-child(2) {
        height: 50px
    }

    .brands img:nth-child(6) {
        height: 50px
    }

    .tanlov div {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .tanlov div img {
        width: 120px;

    }

    h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0%;
    }

    .tanlov p {
        width: 90%;
        font-weight: 500;
        font-style: Medium;
        font-size: 12px;
        line-height: 1.3em;
        letter-spacing: -1%;
    }

    .tanlov div {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        width: 95%;
    }

    .download {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .download button {
        max-width: 90%;
        justify-content: flex-start;
        padding: 10px;
        margin: 0 auto;

    }

    .btns {
        display: flex;
        flex-direction: column;
    }

    .text {
        font-weight: 500;
        font-style: Medium;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -1%;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        ;

    }



    .one-phone {
        display: none;

    }

    [alt="Phone"] {
        display: flex;
        width: 393px;
        margin: 30px auto;
    }

    .btns {
        display: flex;
        flex-direction: column;
    }



    .one-phone {
        background-color: white;
        width: 600px;
        margin-right: 30%;
        display: none;

    }

    [alt="Phone"] {
        display: flex;
        width: 300px;
        margin: 30px auto;
    }

    .questions {
        margin-top: 50px;
    }

    .questions h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .questions div {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;


    }

    .questions div div {
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        margin: 0;
        text-align: center;
        align-items: center;
    }

    .questions div p {
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
        color: #706A75;

    }

    .questions b {
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        color: #19082A;
    }

    hr {
        width: 70%;
        margin: auto;
    }

    .bar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 50px;

    }


    .work h2 {
        text-align: center;
    }

    .green {
        width: 100%;
        border-radius: 40px 20px;
        background: linear-gradient(283.96deg, #00ACCA 0%, #00F97D 148.78%);
        padding: 30px;
        position: relative;

    }

    .green h3 {
        font-weight: 700;
        font-style: Italic;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0%;
        color: white;

    }

    .green .white {
        padding: 17px 42px;
    }

    .green p {
        font-weight: 500;
        font-style: Italic;
        font-size: 12px;

        line-height: 16px;
        letter-spacing: 0%;
        color: white;
        width: 80%;
    }

    .bar img {
        position: absolute;
        width: 90px;
        top: 81px;
        left: 300px;
    }

    .social-media h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .general {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-direction: column;
    }

    .general button {
        background-color: white;
        border-radius: 40px 20px;
        padding: 20px;
        display: flex;
        border: none;
        align-items: center;
        text-align: left;
        gap: 10px;
        width: 100%;
    }

    .general svg {
        width: 60px;
    }

    .general b {

        font-weight: 500;
        font-style: Medium;
        font-size: 16px;

        line-height: 24px;
        letter-spacing: 0%;
    }

    .general p {

        font-weight: 400;

        font-size: 14px;

        line-height: 24px;
        letter-spacing: 0%;
        color: #706A75;

    }

    footer {
        text-align: center;
        background-color: white;
        border-radius: 30px 15px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer a {

        color: #A471D8;
    }

    footer svg {
        margin-bottom: 24px;
    }

    .contact {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;

    }

    .address {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -1%;
        text-align: center;
        margin-bottom: 24px;
        width: 80%
    }

    footer div {
        display: flex;
        gap: 30px;

        font-weight: 400;

        font-size: 12px;

        line-height: 32px;
        letter-spacing: -1%;

    }


}